<h1>People Search</h1>

<div class="card">
  <div class="card-body">
    <p class="card-text">
      Search for people using the companies house API.
    </p>
    <form action="<%= search_results_path %> ">
        <div class="mb-3">
          <label for="search" class="form-label">
            Search
          </label>
          <input type="text" class="form-control" id="search" name="search">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>        
    </form>
  </div>
</div>